extends layout

block head

block content
	.container
		div
			.well.hero-spacer.well-background
				h3 Welcome!!
		//- form(action="/uploadFile", method="post", enctype="multipart/form-data")
		//- 	.form-group
		//- 		label Table Name
		//- 		input.form-control(type='text', placeholder='Enter table name', name='table_name', size='30')
		//- 	.form-group
		//- 		label Description
		//- 		input.form-control(type='text', placeholder='Enter table description', name='table_description', size='30')
		//- 	.form-group
		//- 		label Author
		//- 		input.form-control(type='text', placeholder='Enter table author', name='table_author', size='30')
		//- 	.form-group
		//- 		label URL
		//- 		input.form-control(type='text', placeholder='Enter url', name='table_url', size='200')
		//- 	.form-group
		//- 		input(type="file", name="csvFile")
		//- 	.form-group
		//- 		input#signup-submit.btn.btn-default(type='submit', name='submit')
		form(action='/uploadFile', method='post', enctype='multipart/form-data')
			.form-group
				label Title
				input.form-control(type='text', placeholder='Enter table name', name='table_title', size='30')
			.form-group
				label Description
				input.form-control(type='text', placeholder='Enter table description', name='table_description', size='30')
			.form-group
				label Author
				input.form-control(type='text', placeholder='Enter table author', name='table_author', size='30')
			.form-group
				label URL
				input.form-control(type='text', placeholder='Enter url', name='table_url', size='200')
			.form-group
				input(type='file', name='csvFile')
			.form-group
				input#signup-submit.btn.btn-default(type='submit', name='submit')


		div
			table.table.table-hover#apiKey
				tr
					th API Key
						button#genApiKey(type='button') Generate
				tr#apiKeyRow
					td=apiKey

		div.user-table
			table.table.table-hover
				h3 Tables
				tr
					th Title
					th Description
					th Author
					th Number of Row
					th Number of Column
					th URL
					th Created at
					- var userTableMetaData = datasets || []
					- console.log("userTableMetaData", userTableMetaData);
					- console.log("tableMetaData", tableMetaData);
					//- var tableMetaData=[{name:"Woon Ket", description:"bike share at SF", author:"SF Gov",numberOfRow:86774, numberOfCol:6}];
					- for (var i =0; i < userTableMetaData.length; i++){
					tr
						td= userTableMetaData[i].title
						td= userTableMetaData[i].description
						td= userTableMetaData[i].author
						td= userTableMetaData[i].row_count
						td= userTableMetaData[i].col_count
						td= userTableMetaData[i].url
						td= userTableMetaData[i].created_at
					-};
		script(src='/app.js')
