extends layout

block head

block content
  .container

    h2
     =user.username
     's Profile

    div.panel.panel-default
        p.lead Welcome back to your Datsy profile!  You currently have&nbsp;
          span.badge.badge-info= datasets.length
          &nbsp;datasets uploaded, and there have been&nbsp;
          span.badge.badge-info=view_count
          &nbsp;new views since your last login.  As a reference, your API key is&nbsp;
          code
           -  var text = apiKey.toUpperCase();
           =text
          .

    div.user-table
      table.table.table-hover
        legend(style='border: none') My Datasets
        tr
          th Title
          th Description
          th Rows
          th Columns
          th Created At
          th Views
          - var userTableMetaData = datasets || []
          - for (var i = 0; i < userTableMetaData.length; i++){
          - total_views += userTableMetaData[i].view_count;
          tr
            td= userTableMetaData[i].title
            td= userTableMetaData[i].description
            td= userTableMetaData[i].row_count
            td= userTableMetaData[i].col_count
            td= userTableMetaData[i].created_at.toUTCString()
            td= userTableMetaData[i].view_count
          -};

    script(src='/app.js')
